<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/main">
    <include path="~/Content/bootstrap.min.css" />
    <include path="~/Content/main.css" />
    <!--<include path="~/Content/Site.css" />-->
    <include path="~/Content/bootstrap-material-design.min.css" />
    <include path="~/Content/ripples.min.css" />
  </styleBundle>
</bundles>