<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle  path="~/Content/common">
    <include  path="~/Content/bootstrap.min.css"/>
    <include path="~/Scripts/Libs/bootstrap-material-design/dist/css/bootstrap-material-design.css"/>
    <include path="~/Scripts/Libs/bootstrap-material-design/dist/css/ripples.min.css"/>
    <include path="~/Content/Site.css" />
  </styleBundle>
  <styleBundle path="~/Content/main">
    <include path="~/Content/bootstrap.min.css" />
    <include path="~/Scripts/Libs/bootstrap-material-design/dist/css/bootstrap-material-design.css"/>
    <include path="~/Scripts/Libs/bootstrap-material-design/dist/css/ripples.min.css"/>
    <include path="~/Content/main.css" />
    <include path="~/Content/Site.css" />
  </styleBundle>
  <styleBundle path="~/Content/admin">
    <include path="~/Content/admin/AdminLTE.min.css"/>
    <include path="~/Content/admin/skins/_all-skins.min.css"/>
  </styleBundle>
</bundles>